<html>
<head>
<title>Parivartann</title>
<%= stylesheet_link_tag "application" %>
</head>


<body>

<div id="allContent">
<%=render :partial =>"sidebar" %>
<%= render :partial => "header_tags" %>
<div id="background">
 <div id="content">

		<div id="header_image">
	    		<%= link_to image_tag('parivartann_logo.gif', :class=>"header_image"), :controller => "main", :action => "home"%>
			<b>CHANGE FOR BETTER</b>
		</div>

	<div id = "images">
	<iframe class="imgur-album" width="100%" height="470px" frameborder="0" src="http://imgur.com/a/DG0nF/embed"></iframe>
	</div>

</div>
</div>
<div id="footer_image">
</div>
</body>
</allContent>
</html>
