<html>
<head>
<title>Parivartan</title>
<%= stylesheet_link_tag "application" %>
</head>
<body>
<div id="allContent">
<%=render :partial => "sidebar"%>
<%=render :partial => "header_tags"%>
<div id="background">
 <div id="content">

		<div id="header_image">
	    		<%= link_to image_tag('parivartann_logo.gif', :class=>"header_image"), :controller => "main", :action => "home"%>
			<b>CHANGE FOR BETTER</b>
		</div>

	<div id = "videos">
	<script src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/youtube.xml&up_channel=Parivatann&synd=open&w=600&h=400&title=&border=%23ffffff%7C3px%2C1px+solid+%23999999&output=js">
	</script>
	</div>
	</div>
 </div>
</div>

<div id="footer_image">
</div>
</div>
</body>
</html>
