<html>
<head>
<title>Parivartan</title>
</head>


<body>
<h1>Parivartann </h1>



<%= link_to "Homepage" , :controller => "homepage" %>
<%= link_to "About us" , :controller => "aboutus"%>
<%= link_to "Contact Us" , :controller => "contactus"%>
<%= link_to "Gallery" , :controller => "gallery"%>
<%# link_to "Events"%>
</body>



</html>
