@font-face {
font-family: 'CabinSketch';
src: url('../images/CabinSketch-Regular.otf');
}

body{
    background-image: url('../images/wall.jpg');
    background-repeat: repeat;
    background-position: center;
}

#allContent{
	width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#background{
    background-image: url('../images/Real-blackboard.gif');
    background-repeat: no-repeat;
    background-position: center top;
    padding: 1%;
    min-height: 1000px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#content {
	color: white;
	padding: 1%;
    margin: 0% auto 1% auto;
    margin-right: auto;
    line-height: 1.6em;
	font-family: 'CabinSketch', Helvetica, SANS-SERIF;
    font-size: small ;
	max-width: 550px;
}

#header {
    display: block;
    position: top;
    margin: 5% 0% 0% 0%;
}

a:link {color: white; text-decoration: none; }
a:active {color: white; text-decoration: none; }
a:visited {color: white; text-decoration: none; }
a:hover {color: white; text-decoration: none; }

.header_image {
   height: 125px;
   width: 300px;
   position: left;
   display: block;

}



#tags {
	display:block;
	list-style: none;
	padding-left: 5%;
	color:white;
}

#tags li {
	list-style:none;
	float: right;
    color:white;
    font-size: small;
}

#header li a {
	padding: 0 1em;
}

#header #selected {
	position: relative;
	top: 1px;
	background: gray;
}

#images {
    /*Removed the width here cause i think there should only be one place to
    control the width of the container. :)*/

}

#sidebar {

    float: right;
	width: 50px;
	height: 420px;
	margin: 3% 10% 0% 0% ;
}

.sidebar_image  {
    height: 80px;
    width: 80px;
    align: center;
    margin-top: 65%;
}

#bottomBar {
	float: bottom;
	width: 550px;
	height: 100px;
	margin: 1% 0% 0% 3.5% ;


}

.bottomBar_image {
	height: 70px;
    width: 115px;
    align: center;
    margin-right: 7%;
}

#square_para {
    width: 45%;
    background-image: url('../images/Untitled-1.gif');
    background-size: 250px 220px;

}

#square_para p{
    width: 80%;
     margin: 10% 0% 10% 10%;
    align: center;

}
