@font-face {
font-family: 'CabinSketch';
src: url('../images/CabinSketch-Regular.otf');
/*src: local('☺'), url('../images/CabinSketch-Regular.woff') format('woff'), url('../images/CabinSketch-Regular.svg') format('svg'), url('../images/CabinSketch-Regular.eot') format('eot');*/
}


#allcontent{
    width: 800px;
    padding-top: 40px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    line-height: 1.6em;
}

body {
    font-size: small;
    line-height: 1.6em;

}

#header {
    display: block;
    margin: 30px;
}
 h1 {
    font-family:  'CabinSketch', Helvetica, SANS-SERIF;
    font-size: 300% ;
    color: blue;
	margin: 0;
	padding-left:10%;
    border-right: 1px;

}
h2 {
    font-size: 130%;
}

#header ul {
	list-style: none;
	padding-left:5%;
	margin:0;
}

#header li {
	float: right;
	border: 0.5px solid;
    color:black;
	border-bottom-width: 0;
}

#header li a {
	padding: 0 1em;
}

#header #selected {
	position: relative;
	top: 1px;
	background: gray;
}

#background{
    background-image: url('../images/Real-blackboard.gif');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 900px 1100px;

}
/*#background {
    margin-top:10%;
    background-image: url('../images/Real-blackboard.gif');
    background-repeat: no-repeat;
	position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}*/

#content {
	padding: 5%;

	color: white;

}

#images {
	width:700px;
	padding-left:5%;
	padding-top:5%;
}

#sidebar {
	float: right;
	width: 80px;
	height: 550px;
	margin: 10px 10px 10px 10px;


}

.sidebar_image  {
    height: 80px;
    width: 80px;
    align: center;
    margin-top: 25%;
}
