
@font-face {
font-family: 'CabinSketch';
src: url('../images/CabinSketch-Regular.otf');
}

body{
    background-image: url('../images/wall.jpg');
    background-repeat: repeat;
    background-position: center top;
}

#allContent {
	margin:0 auto 0 auto;
	color: white;
	line-height: 1.6em;
	font-family: 'CabinSketch', Helvetica, SANS-SERIF;
    font-size: medium ;
}

#error_fields{
    color: red;
}

li {
	list-style:none;
}

#header_tags {
	z-index:10;
	background-image: url(../images/header.gif);
	background-repeat: no-repeat;
    	background-position: top center;
	margin: 0px auto 0 auto;
	max-width: 856px;
	height:40px;
	display:block;
	list-style: none;
}

#header_tags li {
	float: right;
	margin-top:10px;
	margin-right:10px;
}

#header_tags li a {
	padding: 0 1em;
}

#header_tags #selected {
	position: relative;
	top: 0.5px;
	padding:2px;
	background: brown;
}

#background{
    background-image: url('../images/Real-blackboard.gif');
    background-repeat: no-repeat;
    background-position:top;
    min-height: 700px;
    max-width: 950px;
    margin: 0 auto 0 auto;
}

#content {
	position:relative;
	z-index:9;
	padding: 10px;
    	margin: 0% auto 0% auto;
	max-width: 700px;
	padding: 0 0 100px 0;
}


a:link {color: white; text-decoration: none; }
a:active {color: white; text-decoration: none; }
a:visited {color: white; text-decoration: none; }
a:hover {color: gray; text-decoration: none; }

#header_image{
height:140px;
margin:0 auto 0 auto;
display: block;

}

#header_image b {
display:block;
}

.header_image {
   height: 110px;
   width: 250px;
}

#gallery_image {
	margin: 10px;
	border:5px ridge;
}

#images {
	margin: 10px;
	border:5px ridge;
}

#sidebar {
	z-index:3;
	position:absolute;
	height:500px;
	width:1100px;
	margin: 100px 75px 100px 75px;
}

#rightbar {
    float: right;
	width: 70px;
	height: 500px;
}

.rightbar_image  {
    	height: 70px;
    	width: 70px;
    	margin-top: 40px;
	border:2px solid gray;

}

#leftbar {
	float: left;
	width: 80px;
	height: 500px;
}

.leftbar_image {
	max-height: 70px;
    	width: 70px;
    	margin-top: 40px;
	border: 5px double gray;
	text-align:center;
	padding:20px 0 20px 0;
}

#footer_image {
	background-image: url(../images/footer.gif);
	background-repeat: no-repeat;
        background-position: center bottom;
	height:100px;
	margin: -100px auto 0 auto;
	z-index:10;
}


#form {
	display:block;
	margin: 20px 100px 0 100px;
	padding:20px 70px 20px 70px;
	border: 3px dashed gray;
	position:center;
}

#form .fields {
	max-width:370px;
	padding:2px;
}

#form h1 {
	padding: 2px;
	color:white;
	font-size:200%;
}

#form .fields input{
	width:350px;
	height:15px;
	margin: 3px auto 3px auto;
}

#form .fields label {
	display:block;
	text-align:left;
	width:80px;
	margin: 2px;
	font-size: medium;
}

#form .check_box {
	padding:5px;
	font-size: medium;
}

#submit {
	margin:5px auto 0 auto;
	position :center;
}

.imgur-album {
    background-color: transparent;
}

.team {
	display:block;
	margin:20px 10px;
}

.member_profile {
	display:block;
	padding:5px;
	width:600px;
	height:130px;
	margin-bottom:50px;
}

.team #profile_photo {
	border: 5px solid white;
	margin-right:10px;
	width:120px;
	height:120px;
	display:inline;
}

.team .align_left {
		display:inline;
		float:left;
}

.team .align_right {
		display:inline;
		float:right;
}

.team #profile_details {
	font-size:small;
	line-height: 1.6em;
	width:450px;
	height:150px;
}


.team .heading {
	display:block;
	font-size:180%;
	margin:5px;
}
