<div id="header_tags">

		<ul>

			<li><%= link_to "Values" , :controller => "main", :action => "values"%></li>
			<li><%= link_to "Mission" , :controller => "main", :action => "mission"%></li>
			<li><%= link_to "Gallery" , :controller => "main", :action => "gallery"%></li>
			<li><%= link_to "About us" , :controller => "main" , :action => "about_us"%></li>
		</ul>
</div>
